<div class="banner" style="background-image: url(https://images.creativemarket.com/0.1.0/ps/7313032/3000/2502/m1/fpnw/wm0/112-.jpg?1573926560&s=1f326cbc471c3dd442bbd5891af94e40);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Create lists of your favourites films.</p>
    <%= link_to 'Create a new list', new_list_path, class: 'btn btn-warning' %>
  </div>
</div>

<div class="row main-container">
  <h2 class="text-center">Lists of movies</h2>
  <% @lists.each do |list| %>
  <div class="col-sm-6">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <p class="card-text"><i class="fas fa-film"></i></p>
        <%= link_to 'Add movie', new_list_bookmark_path(list), class: 'btn text-dark' %>
        <%= link_to 'See this list', list_path(list), class: 'btn text-dark' %>
        <%= link_to 'Delete list', list_path(list), method: :delete, data: { confirm: 'Confirm delete:'}, class: 'btn text-dark' %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script SameSite="None; Secure" src="https://static.landbot.io/landbot-3/landbot-3.0.0.js"></script>
<script>
  var myLandbot = new Landbot.Livechat({
    configUrl: 'https://chats.landbot.io/v3/H-1038671-UXOYU7STVRQ2VMMA/index.json',
  });
</script>
